# =========================
# Application
# =========================
APP_NAME=pe-orgair
APP_ENV=development
DEBUG=true
PORT=8000
SECRET_KEY=change-this-secret-key

# =========================
# Snowflake Configuration
# =========================
SNOWFLAKE_ACCOUNT=NEFKJCS-QAC18212
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=PE_ORGAIR_WH
SNOWFLAKE_DATABASE=PE_ORGAIR_DB
SNOWFLAKE_SCHEMA=PLATFORM

# =========================
# AWS S3
# =========================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=pe-orgair-platform-group5

# =========================
# Redis
# =========================
REDIS_URL=redis://localhost:6379/0

# =========================
# SEC EDGAR
# =========================
SEC_COMPANY_NAME=PE-OrgAIR-Platform
SEC_EMAIL=

# =========================
# PatentsView API
# =========================
PATENTSVIEW_API_URL=https://search.patentsview.org/api/v1/patent/
PATENTSVIEW_API_KEY=

# =========================
# BuiltWith API
# =========================
BUILTWITH_API_KEY=

# =========================
# RapidAPI
# =========================
RAPIDAPI_KEY=

# =========================
# LLM / AI APIs
# =========================
GROQ_API_KEY=
DEEPSEEK_API_KEY=
ANTHROPIC_API_KEY=

# =========================
# Chroma Cloud Vector DB
# =========================
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=pe_org-air-platform
CHROMA_HOST=api.trychroma.com

# =========================
# Airflow
# =========================
AIRFLOW_FERNET_KEY=
AIRFLOW_ADMIN_PASSWORD=